@model Cart

@{
    var viewType = ViewBag.ViewType as string ?? "table";
}

<div class="text-left">
    <h1 class="display-4">Корзина</h1>
    @if (Model == null || Model.CartItems == null || Model.CartItems.Count == 0)
    {
        <h3>У вас еще нет покупок</h3>
    }
    else
    {
        <div class="btn-group mb-3" role="group">
            <a asp-action="Index" asp-route-viewType="table"
               class="btn @(viewType == "table" ? "btn-dark" : "btn-outline-dark")">В виде таблицы</a>
            <a asp-action="Index" asp-route-viewType="cards"
               class="btn @(viewType == "cards" ? "btn-dark" : "btn-outline-dark")">В виде карточек</a>
        </div>

        

        @if (viewType == "cards")
        {
            <!-- ВИД КАРТОЧЕК -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var cartItem in Model.CartItems)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="@cartItem.Product.PathPicture">
                            <div class="card-body">
                                <h4>@cartItem.Product.Name</h4>
                                <p class="card-text">@cartItem.Product.Description</p>
                                <p>Цена: @cartItem.Product.Cost р.</p>
                                <p>Количество: @cartItem.Amount</p>
                                <p>Сумма: @cartItem.Cost р.</p>
                                <div class="btn-group">
                                    <a class="btn btn-outline-dark"
                                       asp-action="IncreaseCountProduct"
                                       asp-route-productId="@cartItem.Product.Id">+</a>
                                    <a class="btn btn-outline-dark"
                                       asp-action="DecreaseCountProduct"
                                       asp-route-productId="@cartItem.Product.Id">-</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <!-- ВИД ТАБЛИЦЫ -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        <th>+/-</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var number = 1;
                    }
                    @foreach (var cartItem in Model.CartItems)
                    {
                        <tr>
                            <th scope="row">@number</th>
                            <td>@cartItem.Product.Name</td>
                            <td>@cartItem.Product.Cost</td>
                            <td>@cartItem.Amount</td>
                            <td>@cartItem.Cost</td>
                            <td>
                                <a class="btn btn-outline-dark"
                                   asp-action="IncreaseCountProduct"
                                   asp-route-productId="@cartItem.Product.Id">+</a>
                                <a class="btn btn-outline-dark"
                                   asp-action="DecreaseCountProduct"
                                   asp-route-productId="@cartItem.Product.Id">-</a>
                            </td>
                        </tr>
                        number++;
                    }
                </tbody>
            </table>
        }
        <h4 class="mt-3">Итого: @Model.Cost р.</h4>
    }
</div>
}
