@model List<Product>

<div class="text-left">
    <h1 class="display-4">Избранное</h1>
    @if (Model == null || Model.Count == 0)
    {
        <h3>У вас нет избранных товаров</h3>
    }
    else
    {
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var product in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="@product.PathPicture" class="card-img-top">
                        <div class="card-body">
                            <h4>@product.Name</h4>
                            <p class="card-text">@product.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                       asp-controller="Product"
                                       asp-action="Index"
                                       asp-route-id="@product.Id"
                                       role="button">Подробнее</a>
                                    <a class="btn btn-outline-danger"
                                       asp-controller="Fav"
                                       asp-action="Remove"
                                       asp-route-id="@product.Id"
                                       role="button">Убрать</a>
                                </div>
                                <small class="text-muted">@product.Cost р.</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
