@model List<Product>

<h2>Каталог</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var product in Model)
    {
        <div class="col">
            <div class="card shadow-sm">
                <img src="@product.PathPicture" class="card-img-top" alt="@product.Name">

                <div class="card-body">
                    <h4>@product.Name</h4>
                    <p class="card-text">@product.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary"
                               asp-controller="Product"
                               asp-action="Index"
                               asp-route-id="@product.Id">
                                Подробнее
                            </a>
                            @if (product.Quantity > 0)
                            {
                                <a class="btn btn-sm btn-primary"
                                   asp-controller="Cart"
                                   asp-action="Add"
                                   asp-route-id="@product.Id">
                                    В корзину (@product.Quantity)
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-secondary" disabled>Нет в наличии</button>
                            }
                        </div>
                        <small class="text-muted">@product.Cost.ToString("N2") ₽</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>