@model List<WebApplicationShopOnline.Models.Product>

<h2>Каталог</h2>

<a class="btn btn-success mb-3"
   asp-controller="Product"
   asp-action="Catalog"
   asp-route-sortByName="true">
    Сортировать по алфавиту
</a>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var product in Model)
    {
        <div class="col">
            <div class="card shadow-sm">
                <img src="@product.PathPicture" class="card-img-top" />

                <div class="card-body">
                    <h4>@product.Name</h4>
                    <p>@product.Description</p>
                    <p>@product.Cost р.</p>

                    <div class="btn-group">
                        <a class="btn btn-primary"
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-id="@product.Id">Подробнее</a>

                        <a class="btn btn-primary"
                           asp-controller="Cart"
                           asp-action="Add"
                           asp-route-id="@product.Id">В корзину</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>